@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");

:root {
	--heading-font: "Roboto", sans-serif;
	--body-font: "Roboto", sans-serif;

	--heading: rgb(0, 0, 0);
	--body: rgb(46, 47, 44);
	--base: rgb(18, 65, 35);

	--primary: rgb(243, 78, 78);
	--secondary: rgb(143, 152, 147);
	--success: rgb(106, 192, 106);
	--danger: rgb(222, 52, 52);
	--warning: rgb(255, 112, 28);
	--info: rgb(113, 137, 255);
	--dark: rgb(12, 60, 32);
	--white: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);
}
