@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

:root {
	// Fonts
	--heading-font: "Poppins", sans-serif;
	--body-font: "Roboto", sans-serif;

	//Colors
	--heading: 0 0% 13%;
	--body: 0 0% 46%;
	--border: 0 0% 90%;
	// Colors
	--base: rgb(187, 41, 110);

	// Accent Color Shade
	--accent-h: 260;
	--accent-s: 92%;
	--accent-l: 10%;
	--accent-50: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 25%);
	--accent-100: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 20%);
	--accent-200: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 15%);
	--accent-300: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 10%);
	--accent-400: var(--accent-h) var(--accent-s) calc(var(--accent-l) + 5%);
	--accent: var(--accent-h) var(--accent-s) var(--accent-l);
	--accent-600: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 5%);
	--accent-700: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 10%);
	--accent-800: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 15%);
	--accent-900: var(--accent-h) var(--accent-s) calc(var(--accent-l) - 20%);

	--primary: 245 82% 67%;
	--secondary: 210 7% 56%;
	--success: 147 67% 47%;
	--danger: 360 78% 62%;
	--warning: 29 100% 63%;
	--info: 203 89% 53%;
	--dark: 206 70% 11%;
	--white: 0 0% 100%;

	// Light Color Shade
	--light-h: 0;
	--light-s: 0%;
	--light-l: 98%;
	--light-50: var(--light-h) var(--light-s) calc(var(--light-l) + 33%);
	--light-100: var(--light-h) var(--light-s) calc(var(--light-l) + 20%);
	--light-200: var(--light-h) var(--light-s) calc(var(--light-l) + 15%);
	--light-300: var(--light-h) var(--light-s) calc(var(--light-l) + 10%);
	--light-400: var(--light-h) var(--light-s) calc(var(--light-l) + 5%);
	--light: var(--light-h) var(--light-s) var(--light-l);
	--light-600: var(--light-h) var(--light-s) calc(var(--light-l) - 5%);
	--light-700: var(--light-h) var(--light-s) calc(var(--light-l) - 10%);
	--light-800: var(--light-h) var(--light-s) calc(var(--light-l) - 15%);
	--light-900: var(--light-h) var(--light-s) calc(var(--light-l) - 20%);
}
