@import "./_reset";

/* global css strat */
@import "./_color";
@import "./_bg";

.bg_img {
	background-position: center;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}
.bg_fixed {
	background-attachment: fixed !important;
}
a.text-white {
	&:hover {
		color: var(--base1);
	}
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -999;
	&.active {
		z-index: 111;
	}
}
