.banner-section {
}
.banner-wrapper {
	@extend %flex;
	align-items: center;
}
.banner-content {
	max-width: 550px;
	.subtitle {
		position: relative;
        padding-left: 40px;
        font-size: 18px;
        color: var(--heading);
        margin-bottom: 12px;
		&::before {
			@extend %position; 
			left: 0;
			top: 48%;
			height: 2px;
			width: 30px;
			background: var(--heading);
		}
	}
    .title {
        margin-bottom: 65px;
        span {
            color: var(--base1);
        }
    }
    .price-list {
        gap: 15px 40px;
        margin-top: 35px;
    }
}
.banner-thumb {
	max-width: 650px;
	width: 100%;
	img {
		max-width: 100%;
	}
}
