// Header Section Starts Here
.header {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 111;
	@extend %transition;
	&.sticky {
		background-color: hsl(var(--accent));
		box-shadow: 0 3px 15px hsl(var(--dark) / 0.1);
		border-bottom: 1px solid hsl(var(--white) / 0.15);
	}
}
.header-bottom-area {
	@extend %flex;
	justify-content: space-between;
	padding: 10px 0;
	@include breakpoint(sm) {
		position: relative;
	}
}
.logo {
	img {
		max-width: 200px;
		max-height: 50px;
		@include breakpoint(max-xl) {
			max-width: 160px;
			max-height: 45px;
		}
		@include breakpoint(max-md) {
			max-width: 150px;
		}
		@include breakpoint(max-sm) {
			max-width: 130px;
		}
	}
}

// Menu
.menu {
	@extend %flex;
	align-items: center;
	margin: 0;
	position: relative;
	> .has-sub-menu {
		&.open {
			.sub-menu {
				@include breakpoint(lg) {
					display: block !important;
				}
			}
		}
		a {
			padding-right: 35px;
		}
	}
	.sub-menu {
		li {
			width: 100%;
		}
		@include breakpoint(lg) {
			display: block !important;
		}
	}
	li {
		&:hover > .sub-menu {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
		&.has-sub-menu > a {
			position: relative;
			display: flex;
			justify-content: space-between;
			&::after {
				@extend %line-ico;
				content: "\f107";
				right: 0;
				top: 50%;
				transform: translate(-13px, -50%);
				font-size: 14px;
			}
		}
	}
}

// Sub Menu
@include breakpoint(lg) {
	.menu {
		display: flex !important;
	}
	.menu li {
		position: relative;
	}
	.menu > li > a {
		padding: 15px 20px;
		&.active {
			color: hsl(var(--base));
		}
	}
	.sub-menu {
		position: absolute;
		top: 100%;
		left: 0px;
		opacity: 0;
		visibility: hidden;
		min-width: 200px;
		@include transition;
		transform: translateY(15px);
		box-shadow: 0 3px 12px 3px hsl(var(--dark) / 0.05);
		overflow: hidden;
		z-index: 11;
		li {
			padding: 0;
			border-bottom: 1px dashed hsl(var(--dark) / 0.1);
			&:last-child {
				border: none;
			}
			a {
				padding: 6px 15px;
				display: block;
				@include text-wrap;
				-webkit-line-clamp: 1;
				&:hover,
				&.active {
					color: hsl(var(--base));
				}
			}
		}
		&:hover {
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}

		.sub-menu {
			visibility: hidden;
			opacity: 0;
			top: 5px;
			left: -100%;
			transform: translateY(-20px);
		}

		&.has-sub-menu > a {
			&::after {
				transform: translateY(0px);
			}
		}
	}
}

// Mobile Menu
@include breakpoint(max-lg) {
	.menu > li {
		&:nth-last-child(1) {
			border-bottom: none;
		}
	}
	.menu {
		position: absolute;
		top: 100%;
		left: 0;
		padding: 30px;
		max-height: calc(100vh - 50px);
		min-width: 200px;
		width: 100%;
		transform-origin: top;
		overflow-y: auto;
		background: hsl(var(--accent));
		display: none;
		.has-sub-menu {
			margin-right: 0;
		}
		.has-sub-menu > a {
			&::after {
				transform: translate(0px, -50%) !important;
			}
		}
		li {
			padding: 4px 0;
			width: 100%;
			border-bottom: 1px solid hsl(var(--white) / 0.1);
			&:nth-last-child(1) {
				border-bottom: none;
			}
			a {
				padding-left: 0;
				color: hsl(var(--white));
			}
			&.has-sub-menu {
				a {
					&::after {
						transform: translate(0px, -50%) !important;
					}
				}
			}
		}
	}
	.sub-menu {
		display: none;
		padding-left: 25px;
	}
}

// Trigger
.header-trigger {
	cursor: pointer;
	margin-top: -10px;
	&.active {
		span {
			background: none !important;
			&::before {
				transform: rotate(-45deg) translate(-11px, 0px);
				width: 100%;
			}
			&::after {
				transform: rotate(45deg) translate(-11px, 0px);
				width: 100%;
			}
		}
	}
	span {
		width: 25px;
		height: 2px;
		background: hsl(var(--base));
		position: relative;
		transition: all ease 0.3s;
		&::after,
		&::before {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			right: 0;
			background: hsl(var(--base));
			@extend %transition;
		}
		&::after {
			bottom: -8px;
			width: 28px;
		}
		&::before {
			width: 32px;
			top: -8px;
		}
	}
}
