.badge--base {
	background-color: rgb(var(--base) / 0.15);
	border: 1px solid rgb(var(--base) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--primary) / 0.15);
	border: 1px solid rgb(var(--primary) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--secondary) / 0.15);
	border: 1px solid rgb(var(--secondary) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--success) / 0.15);
	border: 1px solid rgb(var(--success) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--danger) / 0.15);
	border: 1px solid rgb(var(--danger) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--warning) / 0.15);
	border: 1px solid rgb(var(--warning) / 0.15);
	color: rgb(var(--base) / 0.15);
}
.badge--base {
	background-color: rgb(var(--dark) / 0.15);
	border: 1px solid rgb(var(--dark) / 0.15);
	color: rgb(var(--base) / 0.15);
}
