.btn,
.cmn--btn {
	padding: 10px 35px;
	font-weight: 500;
	outline: none !important;
	box-shadow: none !important;
	@extend %transition;
	border-radius: 5px;
	z-index: 1;
	&.btn--lg {
		padding: 12px 35px !important;
		font-size: 18px;
		@include breakpoint(max-lg) {
			font-size: 16px;
		}
	}
	&.btn--md {
		padding: 10px 25px !important;
		font-size: 15px;
	}
	&.btn--sm {
		padding: 5px 15px !important;
		font-size: 14px;
	}
	&.btn--xs {
		padding: 0px 10px !important;
		font-size: 13px;
	}
}
.cmn--btn {
	border: 3px solid hsl(var(--base-900));
	color: hsl(var(--white));
	position: relative;
	z-index: 1;
	overflow: hidden;
	@include breakpoint(max-sm) {
		padding: 8px 30px;
	}
	&::before {
		@extend %position-set;
		width: 200%;
		background: linear-gradient(90deg, hsl(var(--base)) 0%, hsl(var(--base-900)) 50%, hsl(var(--base)) 100%);
		z-index: -1;
		@extend %transition;
	}
	&:hover,
	&.active {
		color: hsl(var(--white));
		&::before {
			left: -50%;
		}
	}
	&.active {
		&:hover {
			&::before {
				left: 0;
			}
		}
	}
}

$colors: "primary" hsl(var(--primary)), "secondary" hsl(var(--secondary)), "success" hsl(var(--success)), "danger" hsl(var(--danger)), "warning" hsl(var(--warning)), "info" var(--info), "light" hsl(var(--light)), "dark" hsl(var(--dark)), "base" hsl(var(--base));

@each $name, $color in $colors {
	.btn--#{$name} {
		background-color: $color;
		border: 2px solid $color;
		color: hsl(var(--white));
		&:hover {
			color: $color;
		}
	}
}
.btn--light {
	color: hsl(var(--base));
}

@each $name, $color in $colors {
	.btn--outline-#{$name} {
		background-color: transparent;
		border: 2px solid $color;
		color: $color;
		&:hover {
			color: hsl(var(--white));
			border-color: $color;
			background-color: $color;
		}
	}
}
.btn--outline-light {
	color: hsl(var(--body));
	border: 2px solid hsl(var(--border));
}
