.table--responsive--md {
	@include breakpoint(max-md) {
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				td {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 35px;
					text-align: right;
					padding: 10px 15px;
					border: none;
					border-bottom: 1px solid hsl(var(--border));
					@include breakpoint(max-lg) {
						font-size: 14px !important;
					}
					&:last-child {
						border: none;
					}
					&::before {
						display: block;
					}
				}
			}
		}
	}

	@include breakpoint(md) {
		tbody {
			tr {
				td {
					border: 0;
				}
			}
		}
	}
}
.table--responsive--lg {
	@include breakpoint(max-lg) {
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				td {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 35px;
					text-align: right;
					padding: 10px 15px;
					border: none;
					border-bottom: 1px solid hsl(var(--border));
					@include breakpoint(max-lg) {
						font-size: 14px !important;
					}
					&:last-child {
						border: none;
					}
					&::before {
						display: block;
					}
				}
			}
		}
	}

	@include breakpoint(lg) {
		tbody {
			tr {
				td {
					border: 0;
				}
			}
		}
	}
}
.table--responsive--xl {
	@include breakpoint(max-xl) {
		thead {
			display: none;
		}
		tbody {
			tr {
				display: block;
				td {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 35px;
					text-align: right;
					padding: 10px 15px;
					border: none;
					border-bottom: 1px solid hsl(var(--border));
					@include breakpoint(max-lg) {
						font-size: 14px !important;
					}
					&:last-child {
						border: none;
					}
					&::before {
						display: block;
					}
				}
			}
		}
	}

	@include breakpoint(xl) {
		tbody {
			tr {
				td {
					border: 0;
				}
			}
		}
	}
}

.table {
	margin: 0;
	border: none;
	width: 100%;
	border-collapse: collapse;
	thead {
		tr {
			background: rgb(var(--base));
			th {
				padding: 10px 15px;
				font-family: var(--heading-font);
				border: none;
				font-size: 15px;
				font-weight: 500;
			}
		}
	}
	tbody {
		border: 0;
		font-size: 15px;
		tr {
			td {
				vertical-align: middle;
				padding: 10px 15px;
				border-width: 1px;
				&::before {
					content: attr(data-label);
					font-family: var(--heading-font);
					font-size: 15px;
					color: hsl(var(--heading));
					font-weight: 500;
					display: none;
				}
			}
		}
	}
}
